<div *ngIf="posts$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h2>{{post.title}}</h2>
      <button [routerLink]="['/']" class="btn-m btn-link-m" [ngStyle]="{color: 'red'}">
        На головну
      </button>
    </div>
    <div class="info">
      <strong>{{post.author}}</strong><br />
      <small>{{post.date | date: 'medium': null: 'ru-UA'}}</small>
    </div>
    <div>
       <quill-view-html [content]="post.text"></quill-view-html>  
    </div>
  </div>
</div>
<ng-template #loading>
  <p class="text-center">
    Идет загрузка страницы
  </p>
</ng-template>
