<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button [routerLink]="['/']" class="btn-m btn-link-m" [ngStyle]="{color: 'red'}">
      На головну
    </button>
  </div>
  <div class="info">
      <strong>Тут автор</strong><br />
      <small>15.05.2020</small>
    </div>
 
  <div>
      <p>
      Просте ж запитання. А відповідати ніхто не хоче.
      Навіщо затівати продаж у приватну власніть
      сільськогогосподарських угідь, та ще й з участю міжнародних
      шахраїв, на 15 -у році мораторію, згаявши час на що завгодно,
      тільки не на розробку досконалих моделей земельного ринку?
    </p>

  </div>
  
</div>
