<div header-top>
  <mat-toolbar class="header">
    <button mat-raised-button class="date">Дата</button>
    <button mat-raised-button class="button">Підписатися</button>
    <button mat-raised-button class="button">Зареєструватися</button>
    <button mat-raised-button class="button">Увійти</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-raised-button class="button">Пошук</button>
  </mat-toolbar>
  <div class="shapca">
    <img src="" alt="image-header" />
  </div>
  <mat-toolbar class="header-center">
    <button mat-raised-button class="button" [routerLink]="['/']">На головну</button>
    <button mat-raised-button class="button" [routerLink]="['/landmarket']">Ринок землі</button>
    <button mat-raised-button class="button" [routerLink]="['/agrarionreform']">Аграрна реформа</button>
    <button mat-raised-button class="button" [routerLink]="['/abroad']">За межею</button>
    <button mat-raised-button class="button" [routerLink]="['/view']">Погляд</button>
    <button mat-raised-button class="button" [routerLink]="['/europeonexperience']">Досвід Євросоюзу</button>
  </mat-toolbar>

  
</div>
<br/><br /><br /><br />






