.date {
  background-color: #795548;
  font-weight: bold;
  color: #ffffff;
}
button {
  margin: 10px;
  width: 140px;
}
.button {
  background-color: #795548;
  font-weight: bold;
  color: #ffffff;
}
